In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
heart = pd.read_csv('heart_dis.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
labels= np.array(heart.loc[:, 'target'])
labels

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [4]:
features= np.array(heart.iloc[:, :13]) # selecting from 'age' to 'thal'
features

array([[52.,  1.,  0., ...,  2.,  2.,  3.],
       [53.,  1.,  0., ...,  0.,  0.,  3.],
       [70.,  1.,  0., ...,  0.,  0.,  3.],
       ...,
       [47.,  1.,  0., ...,  1.,  1.,  2.],
       [50.,  0.,  0., ...,  2.,  0.,  2.],
       [54.,  1.,  0., ...,  1.,  1.,  3.]])

In [5]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3, random_state=123)
svm_linear = SVC(kernel='linear', C=0.01).fit(X_train, y_train)
print("Accuracy:", svm_linear.score(X_train, y_train)*100)

Accuracy: 83.40306834030683

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

heart = pd.read_csv('heart_dis.csv')
heart.head()

labels= np.array(heart.loc[:, 'target'])
features= np.array(heart.iloc[:, :13]) # selecting from 'age' to 'thal'

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3, random_state=123)

svm_linear = SVC(kernel='linear', C=0.01).fit(X_train, y_train)
print("Accuracy:", svm_linear.score(X_train, y_train)*100)